import( PolynomF, SparseM )
export( bandwidth_bootstrap,
        bandwidth_cross_validation,
        bandwidth_optimal,
        bandwidth_plugin,
	binom_g,
	binom_gl,
	binom_l,
	binom_lims,
	binom_revweib,
	binom_weib,
	binomfit_lims,
	bootstrap_ci_sl,
	bootstrap_ci_th,
	bootstrap_sd_sl,
	bootstrap_sd_th,
	checkinput,
	comploglog_link_private,
	comploglog_link,
	deviance2,
	locglmfit_private,
	locglmfit_sparse_private,
	locglmfit,
	logit_link_private,
	logit_link,
	loglog_link_private,
	loglog_link,
	probit_link_private,
	probit_link,
	revweibull_link_private,
	revweibull_link,
	threshold_slope,
	weibull_link_private,
        weibull_link )