@charset "UTF-8";
/* CSS Document */

html { 
overflow-y: scroll; 
} 

.navigation {
	color: #009933;
	font-weight: bold;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.navigationBox {
	margin: auto;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #009933;
	border-right-color: #009933;
	border-bottom-color: #009933;
	border-left-color: #009933;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
}
.navigationBox2 {margin: auto;
	border: thin solid #009933;
}
.titleBox {
	margin: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #009933;
	border-right-color: #009933;
	border-bottom-color: #009933;
	border-left-color: #009933;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
}
.title {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}